@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #eee;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons button {
    padding: 5px 25px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin: 10px;
    transition: .5s ease;
}

.buttons button:hover {
    background-color: #000;
    color: #eee;
}

.gallery {
    margin-bottom: 50px;
    text-align: center;
}

.gallery h6 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.gallery-img img {
    border-radius: 10px;
    outline: 4px solid #ddd;
    width: 350px;
    height: 250px;
}

.gallery-footer {
    margin-top: 10px;
}